header nav {
  position: relative;
  top: -30px;
  left: 60%;
  font-size: 20px;
  font-weight: bold;
}

header img {
  position: relative;
  top: 10px;
  left: 45%;
}

#middlediv {
  position: relative;
   min-height: 300px;
margin-right: 20px;
max-width: 700px;
left: 20%;

}

#middlediv img {
  float:left;
  margin-right: 10px;
}

#middlediv p {
  position: relative;
  left: 30%;
  max-width: 500px;
}

#bottomdiv  {
 position: relative;
min-height: 300px;
margin-right: 20px;
max-width: 700px;
left: 20%;
}

#bottomdiv img {
   float:left;
  margin-right: 10px;
}

#bottomdiv p {
  position: relative;
  left: 30%;
  max-width: 500px;
}

#bottom2div {
 position: relative;
min-height: 300px;
margin-right: 20px;
max-width: 700px;
left: 20%;
}

#bottom2div img {
   float:left;
  margin-right: 10px;
}

#bottom2div p {
  position: relative;
  left: 30%;
  max-width: 500px;
}

h1,h2 {
   position: relative;
  left: 30%;
  max-width: 500px;
}
